/* PagoCliente.module.css */
.pagoCliente-container {
  padding: 20px;
  background-color: #f7f9fc;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.pagoCliente-titulo {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #2c3e50; 
}

.pagoCliente-lista {
  list-style: none;
  padding: 0;
}

.pagoCliente-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-align: left;
}

.pagoCliente-imagen {
  width: 100%;
  max-width: 300px; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

.pagoCliente-info {
  flex: 1;
}

.pagoCliente-info p {
  margin: 4px 0;
}


@media (prefers-color-scheme: dark) {
  .pagoCliente-container {
    background-color: #121212; 
  }

  .pagoCliente-titulo {
    color: #e0e0e0; 
  }

  .pagoCliente-item {
    background-color: #333333; 
    color: #e0e0e0; 
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); 
  }

  .pagoCliente-imagen {
    border-radius: 8px;
  }

  .pagoCliente-info p {
    color: #e0e0e0; 
  }
}

@media (max-width: 768px) {
  .pagoCliente-imagen {
    max-width: 90%;
  }
}
